NODE_PATH=src
SESSION_SECRET=topsecret
NOT_ASSIGNED_ROLE_ID=4
DB_CONNECTION_STRING=postgres://postgres:9095582@localhost:5432/postgres
ADMIN_PATHS=/users/role
#    // users
#    "/users/role"
ADMIN_COACH_PATHS=/users/user_info,/videos/add,/videos/edit,/announcements/team,/announcements/add,/announcements/edit,/team/all,/team/coach,/team/assign,/team/unassign,/team/add,/team/edit,/exercises/add,/exercises/coach,/exercises/edit,/trainings/past/tests,/trainings/coach,/trainings/add,/scores/coach,/scores/edit
#    // users
#    "/users/user_info",
#    // videos
#    "/videos/add",
#    "/videos/edit",
#    // announcements
#    "/announcements/team",
#    "/announcements/add",
#    "/announcements/edit",
#    // teams
#    "/team/all",
#    "/team/coach",
#    "/team/assign",
#    "/team/unassign",
#    "/team/add",
#    "/team/edit",
#    // exercises
#    "/exercises/add",
#    "/exercises/coach",
#    "/exercises/edit",
#    // trainings
#    "/trainings/past/tests",
#    "/trainings/coach",
#    "/trainings/add",
#    // scores
#    "/scores/coach",
#    "/scores/edit"